USE [master]
GO
/****** Object:  Database [QLYTBGYM]    Script Date: 6/18/2022 4:02:24 PM ******/
CREATE DATABASE [QLYTBGYM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLYTBGYM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.NGUYENTRONGTIN\MSSQL\DATA\QLYTBGYM.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLYTBGYM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.NGUYENTRONGTIN\MSSQL\DATA\QLYTBGYM_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLYTBGYM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLYTBGYM]
GO
/****** Object:  Table [dbo].[CHITIETPN]    Script Date: 6/18/2022 4:02:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETPN](
	[MAPN] [int] NOT NULL,
	[MALTB] [char](5) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[GIA] [money] NOT NULL DEFAULT ((0)),
 CONSTRAINT [CHITIETPN_PK] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC,
	[MALTB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIETPSD]    Script Date: 6/18/2022 4:02:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPSD](
	[MAPSD] [int] NOT NULL,
	[MATB] [int] NOT NULL,
	[NGAYLAY] [date] NOT NULL,
	[NGAYTRA] [date] NULL,
 CONSTRAINT [CHITIETPSD_PK] PRIMARY KEY CLUSTERED 
(
	[MAPSD] ASC,
	[MATB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETPTL]    Script Date: 6/18/2022 4:02:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPTL](
	[MAPTL] [int] NOT NULL,
	[MATB] [int] NOT NULL,
	[GIA] [money] NOT NULL DEFAULT ((0)),
 CONSTRAINT [CHITIETPTL_PK] PRIMARY KEY CLUSTERED 
(
	[MAPTL] ASC,
	[MATB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHUVUC]    Script Date: 6/18/2022 4:02:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHUVUC](
	[MAKV] [char](4) NOT NULL,
	[TENKV] [nvarchar](20) NOT NULL,
	[MATK] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAITHIETBI]    Script Date: 6/18/2022 4:02:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAITHIETBI](
	[MALTB] [char](5) NOT NULL,
	[TENTB] [nvarchar](20) NOT NULL,
	[CHITIET] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALTB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 6/18/2022 4:02:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [char](4) NOT NULL,
	[HO] [nvarchar](25) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[GIOITINH] [bit] NOT NULL DEFAULT ((0)),
	[SDT] [nchar](10) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 6/18/2022 4:02:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MAPN] [int] IDENTITY(1,1) NOT NULL,
	[NGAYNHAP] [date] NOT NULL,
	[MATK] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUSUDUNG]    Script Date: 6/18/2022 4:02:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUSUDUNG](
	[MAPSD] [int] IDENTITY(1,1) NOT NULL,
	[MATKNV] [nvarchar](20) NOT NULL,
	[MATKTK] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPSD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUTHANHLY]    Script Date: 6/18/2022 4:02:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTHANHLY](
	[MAPTL] [int] IDENTITY(1,1) NOT NULL,
	[NGAYTHANHLY] [date] NOT NULL,
	[MATK] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPTL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ROLES]    Script Date: 6/18/2022 4:02:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ROLES](
	[id] [char](3) NOT NULL,
	[name] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UC_ROLES] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 6/18/2022 4:02:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[USERNAME] [nvarchar](20) NOT NULL,
	[MATKHAU] [nvarchar](20) NOT NULL,
	[TRANGTHAI] [bit] NOT NULL DEFAULT ((0)),
	[MANV] [char](4) NOT NULL,
	[MAKV] [char](4) NULL,
	[IDROLE] [char](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THIETBI]    Script Date: 6/18/2022 4:02:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THIETBI](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MAPN] [int] NOT NULL,
	[MALTB] [char](5) NOT NULL,
	[MAKV] [char](4) NOT NULL DEFAULT ('KHO1'),
	[TINHTRANGTB] [char](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TINHTRANGTB]    Script Date: 6/18/2022 4:02:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TINHTRANGTB](
	[id] [char](3) NOT NULL,
	[TINHTRANG] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[CHITIETPN]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPN_REFERENCE_LOAITHIETBI] FOREIGN KEY([MALTB])
REFERENCES [dbo].[LOAITHIETBI] ([MALTB])
GO
ALTER TABLE [dbo].[CHITIETPN] CHECK CONSTRAINT [FK_CHITIETPN_REFERENCE_LOAITHIETBI]
GO
ALTER TABLE [dbo].[CHITIETPN]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPN_REFERENCE_PHIEUNHAP] FOREIGN KEY([MAPN])
REFERENCES [dbo].[PHIEUNHAP] ([MAPN])
GO
ALTER TABLE [dbo].[CHITIETPN] CHECK CONSTRAINT [FK_CHITIETPN_REFERENCE_PHIEUNHAP]
GO
ALTER TABLE [dbo].[CHITIETPSD]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPSD_REFERENCE_PHIEUSUDUNG] FOREIGN KEY([MAPSD])
REFERENCES [dbo].[PHIEUSUDUNG] ([MAPSD])
GO
ALTER TABLE [dbo].[CHITIETPSD] CHECK CONSTRAINT [FK_CHITIETPSD_REFERENCE_PHIEUSUDUNG]
GO
ALTER TABLE [dbo].[CHITIETPSD]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPSD_REFERENCE_THIETBI] FOREIGN KEY([MATB])
REFERENCES [dbo].[THIETBI] ([id])
GO
ALTER TABLE [dbo].[CHITIETPSD] CHECK CONSTRAINT [FK_CHITIETPSD_REFERENCE_THIETBI]
GO
ALTER TABLE [dbo].[CHITIETPTL]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPTL_REFERENCE_PHIEUTHANHLY] FOREIGN KEY([MAPTL])
REFERENCES [dbo].[PHIEUTHANHLY] ([MAPTL])
GO
ALTER TABLE [dbo].[CHITIETPTL] CHECK CONSTRAINT [FK_CHITIETPTL_REFERENCE_PHIEUTHANHLY]
GO
ALTER TABLE [dbo].[CHITIETPTL]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPTL_REFERENCE_THIETBI] FOREIGN KEY([MATB])
REFERENCES [dbo].[THIETBI] ([id])
GO
ALTER TABLE [dbo].[CHITIETPTL] CHECK CONSTRAINT [FK_CHITIETPTL_REFERENCE_THIETBI]
GO
ALTER TABLE [dbo].[KHUVUC]  WITH CHECK ADD  CONSTRAINT [FK_KHUVUC_REFERENCE_TAIKHOAN] FOREIGN KEY([MATK])
REFERENCES [dbo].[TAIKHOAN] ([USERNAME])
GO
ALTER TABLE [dbo].[KHUVUC] CHECK CONSTRAINT [FK_KHUVUC_REFERENCE_TAIKHOAN]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_REFERENCE_TAIKHOAN] FOREIGN KEY([MATK])
REFERENCES [dbo].[TAIKHOAN] ([USERNAME])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_REFERENCE_TAIKHOAN]
GO
ALTER TABLE [dbo].[PHIEUSUDUNG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUSUDUNG_REFERENCE_TAIKHOAN_NV] FOREIGN KEY([MATKNV])
REFERENCES [dbo].[TAIKHOAN] ([USERNAME])
GO
ALTER TABLE [dbo].[PHIEUSUDUNG] CHECK CONSTRAINT [FK_PHIEUSUDUNG_REFERENCE_TAIKHOAN_NV]
GO
ALTER TABLE [dbo].[PHIEUSUDUNG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUSUDUNG_REFERENCE_TAIKHOAN_TK] FOREIGN KEY([MATKTK])
REFERENCES [dbo].[TAIKHOAN] ([USERNAME])
GO
ALTER TABLE [dbo].[PHIEUSUDUNG] CHECK CONSTRAINT [FK_PHIEUSUDUNG_REFERENCE_TAIKHOAN_TK]
GO
ALTER TABLE [dbo].[PHIEUTHANHLY]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHANHLY_REFERENCE_TAIKHOAN] FOREIGN KEY([MATK])
REFERENCES [dbo].[TAIKHOAN] ([USERNAME])
GO
ALTER TABLE [dbo].[PHIEUTHANHLY] CHECK CONSTRAINT [FK_PHIEUTHANHLY_REFERENCE_TAIKHOAN]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_REFERENCE_KHUVUC] FOREIGN KEY([MAKV])
REFERENCES [dbo].[KHUVUC] ([MAKV])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_REFERENCE_KHUVUC]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_REFERENCE_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_REFERENCE_NHANVIEN]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_REFERENCE_ROLES] FOREIGN KEY([IDROLE])
REFERENCES [dbo].[ROLES] ([id])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_REFERENCE_ROLES]
GO
ALTER TABLE [dbo].[THIETBI]  WITH CHECK ADD  CONSTRAINT [FK_THIETBI_REFERENCE_KHUVUC] FOREIGN KEY([MAKV])
REFERENCES [dbo].[KHUVUC] ([MAKV])
GO
ALTER TABLE [dbo].[THIETBI] CHECK CONSTRAINT [FK_THIETBI_REFERENCE_KHUVUC]
GO
ALTER TABLE [dbo].[THIETBI]  WITH CHECK ADD  CONSTRAINT [FK_THIETBI_REFERENCE_LOAITHIETBI] FOREIGN KEY([MALTB])
REFERENCES [dbo].[LOAITHIETBI] ([MALTB])
GO
ALTER TABLE [dbo].[THIETBI] CHECK CONSTRAINT [FK_THIETBI_REFERENCE_LOAITHIETBI]
GO
ALTER TABLE [dbo].[THIETBI]  WITH CHECK ADD  CONSTRAINT [FK_THIETBI_REFERENCE_PHIEUNHAP] FOREIGN KEY([MAPN])
REFERENCES [dbo].[PHIEUNHAP] ([MAPN])
GO
ALTER TABLE [dbo].[THIETBI] CHECK CONSTRAINT [FK_THIETBI_REFERENCE_PHIEUNHAP]
GO
ALTER TABLE [dbo].[THIETBI]  WITH CHECK ADD  CONSTRAINT [FK_THIETBI_REFERENCE_TINHTRANGTB] FOREIGN KEY([TINHTRANGTB])
REFERENCES [dbo].[TINHTRANGTB] ([id])
GO
ALTER TABLE [dbo].[THIETBI] CHECK CONSTRAINT [FK_THIETBI_REFERENCE_TINHTRANGTB]
GO
ALTER TABLE [dbo].[CHITIETPN]  WITH CHECK ADD  CONSTRAINT [check_CHITIETPN_GIA] CHECK  (([GIA]>=(0)))
GO
ALTER TABLE [dbo].[CHITIETPN] CHECK CONSTRAINT [check_CHITIETPN_GIA]
GO
ALTER TABLE [dbo].[CHITIETPN]  WITH CHECK ADD  CONSTRAINT [check_CHITIETPN_SOLUONG] CHECK  (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[CHITIETPN] CHECK CONSTRAINT [check_CHITIETPN_SOLUONG]
GO
ALTER TABLE [dbo].[CHITIETPSD]  WITH CHECK ADD  CONSTRAINT [check_CHITIETPSD_NGAYLAY_NGAYTRA] CHECK  (([NGAYLAY]<[NGAYTRA]))
GO
ALTER TABLE [dbo].[CHITIETPSD] CHECK CONSTRAINT [check_CHITIETPSD_NGAYLAY_NGAYTRA]
GO
ALTER TABLE [dbo].[CHITIETPTL]  WITH CHECK ADD  CONSTRAINT [check_CHITIETPTL_GIA] CHECK  (([GIA]>=(0)))
GO
ALTER TABLE [dbo].[CHITIETPTL] CHECK CONSTRAINT [check_CHITIETPTL_GIA]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [check_NHANVIEN_SDT] CHECK  (([SDT] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [check_NHANVIEN_SDT]
GO
ALTER TABLE [dbo].[PHIEUSUDUNG]  WITH CHECK ADD  CONSTRAINT [check_CHITIETPSD_MATKNV_MATKTK] CHECK  (([MATKNV]<>[MATKTK]))
GO
ALTER TABLE [dbo].[PHIEUSUDUNG] CHECK CONSTRAINT [check_CHITIETPSD_MATKNV_MATKTK]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [check_TAIKHOAN_USERNAME] CHECK  (([USERNAME] like '[a-zA-Z0-9 ]%'))
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [check_TAIKHOAN_USERNAME]
GO
ALTER TABLE [dbo].[THIETBI]  WITH CHECK ADD  CONSTRAINT [check_THIETBI_id] CHECK  (([id]>(0)))
GO
ALTER TABLE [dbo].[THIETBI] CHECK CONSTRAINT [check_THIETBI_id]
GO
/****** Object:  StoredProcedure [dbo].[bonhiemTaikhoanChoKhuvuc]    Script Date: 6/18/2022 4:02:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[bonhiemTaikhoanChoKhuvuc]
(@matk nvarchar(20), @makv char(4))
as
begin
	if (@makv not in (select MAKV from KHUVUC) OR @matk not in (select USERNAME from TAIKHOAN))
		select * from KHUVUC where MAKV = @makv
	else
	begin
		--Nếu Khu vuc hiện tại đã có nhân viên: nhân viên đó ko còn giám sát nữa
		update TAIKHOAN
			set MAKV = NULL
			where MAKV = @makv;
		--Nếu Nhân viên hiện tại đã quản lý 1 Khu vuc: Khu vực đó sẽ không còn ai giám sát
		update KHUVUC
			set MATK = NULL
			where MATK = @matk
		--Cập nhật Nhân viêm giám sát mới cho khu vực
		update KHUVUC
			set MATK = @matk
			where MAKV = @makv
		if @makv = 'KHO1'
		begin
			update TAIKHOAN
			set MAKV = @makv, IDROLE = 'TKH'
			where USERNAME = @matk
		end
		else
		begin
			update TAIKHOAN
				set MAKV = @makv, IDROLE = 'NVI'
				where USERNAME = @matk
		end
		select * from KHUVUC where MAKV = @makv
	end
end

GO
/****** Object:  StoredProcedure [dbo].[duyetPhieusudung]    Script Date: 6/18/2022 4:02:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[duyetPhieusudung]
(@mapsd char(5)) as
begin
	declare @matktk nvarchar(20);
	select @matktk = MATK from KHUVUC where MAKV = 'KHO1'
	if @matktk is not null
	begin
		update PHIEUSUDUNG
		set MATKTK = @matktk
		where MAPSD = @mapsd
	end
	select * from PHIEUSUDUNG where MAPSD = @mapsd
end

GO
/****** Object:  StoredProcedure [dbo].[themPhieunhap]    Script Date: 6/18/2022 4:02:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[themPhieunhap]
as
begin
	declare @matk nvarchar(20), @ngaynhap date;
	select @matk = MATK from KHUVUC where MAKV = 'KHO1'
	select @ngaynhap = GETDATE()
	insert into PHIEUNHAP
	values(@ngaynhap, @matk)

	SELECT SCOPE_IDENTITY()
end

GO
/****** Object:  StoredProcedure [dbo].[themPhieusudung]    Script Date: 6/18/2022 4:02:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[themPhieusudung]
(@matknv nvarchar(20))
as
begin
	insert into PHIEUSUDUNG
	values(@matknv, null)

	SELECT SCOPE_IDENTITY()
end
GO
/****** Object:  StoredProcedure [dbo].[themPhieuthanhly]    Script Date: 6/18/2022 4:02:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[themPhieuthanhly]
as
begin
	declare @matk nvarchar(20), @ngaythanhly date;
	select @matk = MATK from KHUVUC where MAKV = 'KHO1'
	select @ngaythanhly = GETDATE()
	insert into PHIEUTHANHLY
	values(@ngaythanhly, @matk)

	SELECT SCOPE_IDENTITY()
end

GO
/****** Object:  StoredProcedure [dbo].[themTaikhoan]    Script Date: 6/18/2022 4:02:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[themTaikhoan]
(@username nvarchar(20), @manv char(4))
as
begin
	insert into TAIKHOAN
	values(@username, '123456', 1, @manv, null, 'NVI')

	SELECT * from TAIKHOAN where USERNAME = @username
end
GO
/****** Object:  StoredProcedure [dbo].[traThietbi]    Script Date: 6/18/2022 4:02:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[traThietbi]
(@mapsd int, @matb int) as
begin
	update CHITIETPSD
	set NGAYTRA = GETDATE()
	where MAPSD = @mapsd and MATB = @matb;

	declare @tinhtrang char(3);
	select @tinhtrang = TINHTRANGTB from THIETBI where id = @matb
	if @tinhtrang = 'BHU'
		update THIETBI
		set MAKV = 'KHO1'
		where id = @matb
	else
		update THIETBI
		set MAKV = 'KHO1', TINHTRANGTB = 'WSD'
		where id = @matb

	select * from THIETBI where id = @matb
end

GO
USE [master]
GO
